%select#selectpicker{:name => ""}
  %option{:value => ""} Search
  %option{:value => ""} Title
  %option{:value => ""} Year

.search.m-t-5
  %h4.display-4.text-xs-center Search
  %input#search.form-control
#omdb.m-t-2.container-fluid
  .grid
    .row

